* {
  font-family: "Karla", sans-serif;
}

h1 {
  text-align: center;
  color: lightcoral;
}

div {
  display: flex;
  color: lightslategray;
  border: 10px solid pink;
}

body {
  font-size: larger;
  background-color: #fde7e8;
}
